<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084001949014-2rnkqtv6h8v5rmve2j4cgs9grt116jbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084001949014-2rnkqtv6h8v5rmve2j4cgs9grt116jbe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1084001949014-38bkcuhecuk1tkpvjaapb57ua3gdc3jp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNebRh5bek4VODf6g2vxVCMNgqhsO6Qdc</string>
	<key>GCM_SENDER_ID</key>
	<string>1084001949014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.academiadoflutter.todoList</string>
	<key>PROJECT_ID</key>
	<string>todo-list-flutter-2a72b</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-flutter-2a72b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084001949014:ios:3f20b78acf96e923d7b2f7</string>
</dict>
</plist>